$color-body-bg: #E5E5E5;
$color-orange: #F26110;
$color-green: #16AA16;
$color-red: #CE3459;
$color-light-green: #DFF850;
$color-light: #ffffff;
$color-violet: #7753F6;
$color-dark-violet: #2E3456;
$color-black:#000000;
$color-gray: #F3F3F3;

$content-width: 1100px;
$width-850px: 850px;
$tablet-width: 768px;
$width-650px: 650px;
$width-550px: 550px;
$width-450px: 450px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

$border-radius: 10px;
$prim-font-size: 1.6rem;

